apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-console
  namespace: minio
  annotations:
    #nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: {{ ingress_certmanager_issuer }}
spec:
  rules:
  - host: {{ public_hostname_console }}
    http:
      paths:
      - backend:
          service:
            name: minio-console-service
            port:
              number: 9001
        pathType: Prefix
        path: /
  tls:
  - hosts:
    - {{ public_hostname_console }}
    secretName: {{ public_hostname_console }}