---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-config
  namespace: minio
data:
  config.json: |-
    {
      "version": "23",
      "credential": {
        "accessKey": "{{ minio_accesskey }}",
        "secretKey": "{{ minio_secretkey }}"
      },
      "region": "",
      "browser": "on",
      "domain": "",
      "storageclass": {
        "standard": "",
        "rrs": ""
      },
      "cache": {
        "drives": [],
        "expiry": 90,
        "exclude": []
      },
      "notify": {
        "webhook": {
        {% for item in webhook_endpoints %}
          "{{ item.id }}": {
            "enable": true,
            "endpoint": "{{ item.endpoint }}"
          }
          {% if not loop.last %},{% endif %}
        {% endfor %}
        }
      }
    }
