apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: minio
spec:
  selector:
    matchLabels:
      app: minio
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: minio
    spec:
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: minio-pv-claim
{% if enable_tls and not enable_ingress %}
      - name: secret-volume
        secret:
          secretName: certs
          items:
          - key: public.crt
            path: public.crt
          - key: private.key
            path: private.key
          - key: public.crt
            path: CAs/public.crt
{% endif %}
      containers:
      - name: minio
        volumeMounts:
        - name: data 
          mountPath: "/data"
{% if enable_tls and not enable_ingress %}
        - name: secret-volume
          mountPath: /etc/minio/certs
{% endif %}
        image: minio/minio:{{ minio_release }}
        args:
{% if enable_tls and not enable_ingress %}
        - -S
        - /etc/minio/certs
{% endif %}
        - server
        - /data
        - --console-address
        - :9001
        env:
        - name: MINIO_ROOT_USER
          value: {{ minio_accesskey }}
        - name: MINIO_ROOT_PASSWORD
          value: {{ minio_secretkey }}
{% if enable_ingress %}
        - name: MINIO_SERVER_URL
          value: "https://{{ public_hostname_api }}"
        - name: MINIO_BROWSER_REDIRECT_URL
          value: "https://{{ public_hostname_console }}"
{% else %}
        - name: MINIO_BROWSER_REDIRECT_URL
          value: "{{ "https" if enable_tls else "http" }}://{{ public_hostname_console }}:30303"
{% endif %}
        ports:
        - containerPort: 9000
          protocol: TCP
        - containerPort: 9001
          protocol: TCP
        readinessProbe:
          httpGet:
{% if enable_tls and not enable_ingress %}
            scheme: HTTPS
{% endif %}
            path: /minio/health/ready
            port: 9000
          initialDelaySeconds: 10
          periodSeconds: 20
        livenessProbe:
          httpGet:
{% if enable_tls and not enable_ingress %}
            scheme: HTTPS
{% endif %}
            path: /minio/health/live
            port: 9000
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
          requests:
            memory: 500Mi
{% if master_deploy %}
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      nodeSelector:
        node-role.kubernetes.io/master: 'true'
{% endif %}
