apiVersion: extensions/v1
kind: Deployment
metadata:
  name: minio
  namespace: minio
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: minio
    spec:
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: minio-pv-claim
      - name: config-volume
        configMap:
          name: minio-config
      - name: config-dir
        emptyDir: {}
      initContainers:
      - name: prepare
        image: busybox
        command:
        - "cp"
        - "/mnt/config-dir/config.json"
        - "/etc/minio/config.json"
        volumeMounts:
        - name: config-dir
          mountPath: /etc/minio
        - name: config-volume
          mountPath: /mnt/config-dir
      containers:
      - name: minio
        volumeMounts:
        - name: data 
          mountPath: "/data"
        - name: config-dir
          mountPath: /etc/minio
        image: minio/minio:RELEASE.2019-10-02T21-19-38Z
        args:
        - server
        - --config-dir
        - /etc/minio
        - /data
        ports:
        - containerPort: 9000
        readinessProbe:
          httpGet:
            path: /minio/health/ready
            port: 9000
          initialDelaySeconds: 120
          periodSeconds: 20
        livenessProbe:
          httpGet:
            path: /minio/health/live
            port: 9000
          initialDelaySeconds: 120
          periodSeconds: 20
        resources:
          requests:
            memory: 500Mi
{% if master_deploy %}
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      nodeSelector:
        node-role.kubernetes.io/master: ''
{% endif %}
