apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pv-claim
  namespace: minio
spec:
{% if volume_labels %}
  selector:
    matchLabels: {{ volume_labels }}
{% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
