rootUser: {{ minio_accesskey }}
rootPassword: {{ minio_secretkey }}

minioAPIPort: 9000
minioConsolePort: 9001
certsPath: /etc/minio/certs/

tls:
 enabled: {{ enable_tls }}
  certSecret: certs
  publicCrt: public.crt
  privateKey: private.key

# -- MINIO CONSOLE SERVICE --
consoleService:
  type: NodePort
  nodePort: 30303
  externalIPs: {{ ansible_default_ipv4.address }} # NOT SURE

# -- MINIO SERVICE --
service:
  type: NodePort
  port: 30300
  externalIPs: {{ ansible_default_ipv4.address }}

# -- PVC --
persistence:
 accessModes: ReadWriteOnce
 size: 20Gi

mountPath: "/data"

# -- INGRESS --
ingress:
  enabled: {{ enable_ingress }}
  hosts:
    - {{ public_hostname_api }}
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: {{ ingress_certmanager_issuer }}
  tls:
    hosts:
      - {{ public_hostname_api }}
    secretName: {{ public_hostname_api }}

# -- MINIO CONSOLE INGRESS --
consoleIngress:
  enabled: {{ enable_ingress }}
  hosts:
    - {{ public_hostname_console }}
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: {{ ingress_certmanager_issuer }}
  tls:
    hosts:
      - {{ public_hostname_console }}
    secretName: {{ public_hostname_console }}

# -- DEPLOYMENT --
{% if master_deploy %}
      nodeSelector:
       node-role.kubernetes.io/master: ''
       
image:
 repository: minio/minio
 tag: {{ chart_release }}

